workflows/Clara Pipeline - Demo Call.json
{
  "name": "Clara Pipeline - Demo Call",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clara/demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f3660fc0-5f93-47eb-8840-956856b9ca81",
      "name": "Webhook",
      "webhookId": "7b7a632f-952d-46b3-b195-8b2e949fc8a6"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "Sheshaadhri14",
          "mode": "list",
          "cachedResultName": "Sheshaadhri14",
          "cachedResultUrl": "https://github.com/Sheshaadhri14"
        },
        "repository": {
          "__rl": true,
          "value": "clara-pipeline",
          "mode": "list",
          "cachedResultName": "clara-pipeline",
          "cachedResultUrl": "https://github.com/Sheshaadhri14/clara-pipeline"
        },
        "title": "={{ \"New Account: \" + $json.memo.company_name}}\n",
        "body": "=={{ \"**Account ID:** \" + $json.memo.account_id + \"\\n\\n**Version:** v1\\n\\n**Open Questions:**\\n\" + ($json.memo.questions_or_unknowns || []).join(\"\\n\") }}",
        "labels": [],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        800,
        16
      ],
      "id": "a178e420-b6ae-4918-9cb9-59eb8b1ba01a",
      "name": "Create an issue",
      "webhookId": "5db19ff0-849b-4d01-8583-62b8261d93f6",
      "credentials": {
        "githubApi": {
          "id": "Ks9h3Kyg5VVKLxH6",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst transcript = body.transcript || '';\nconst callType = body.call_type || 'demo';\n\nif (!transcript) {\n  throw new Error('No transcript provided in request body');\n}\n\n// Call Gemini API using n8n HTTP helper\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent',\n  qs: {\n    key: $env.GEMINI_API_KEY\n  },\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: {\n    contents: [{\n      parts: [{\n        text: `You are a configuration assistant for Clara Answers.\nExtract ONLY explicitly stated facts. Never invent missing info.\nReturn ONLY valid JSON. No markdown. No explanation.\n\nUse this structure:\n{\n  \"company_name\": null,\n  \"business_hours\": {\"days\": null, \"start\": null, \"end\": null, \"timezone\": null},\n  \"office_address\": null,\n  \"services_supported\": [],\n  \"emergency_definition\": [],\n  \"emergency_routing_rules\": {\"primary_contact\": null, \"phone_number\": null, \"fallback\": null},\n  \"non_emergency_routing_rules\": {\"action\": null, \"details\": null},\n  \"call_transfer_rules\": {\"timeout_seconds\": null, \"fail_message\": null},\n  \"special_clients\": [],\n  \"pricing\": {\"service_call_fee\": null, \"hourly_rate\": null, \"mention_to_caller\": null},\n  \"notification_preferences\": {\"email\": null, \"phone\": null},\n  \"integration_constraints\": [],\n  \"after_hours_flow_summary\": null,\n  \"office_hours_flow_summary\": null,\n  \"questions_or_unknowns\": [],\n  \"notes\": null\n}\n\nTRANSCRIPT:\n${transcript}`\n      }]\n    }]\n  },\n  json: true\n});\n\n// Extract Gemini response\nlet raw = response.candidates?.[0]?.content?.parts?.[0]?.text?.trim();\n\nif (!raw) {\n  throw new Error('Empty response from Gemini API');\n}\n\n// Clean possible markdown wrapping\nraw = raw.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n\nlet memo;\ntry {\n  memo = JSON.parse(raw);\n} catch (err) {\n  throw new Error('Failed to parse Gemini JSON output: ' + raw);\n}\n\n// Generate account_id\nconst slug = (memo.company_name || 'unknown')\n  .toLowerCase()\n  .replace(/[^a-z0-9]/g, '-')\n  .slice(0, 24);\n\nmemo.account_id = slug + '-' + Date.now().toString(16).slice(-4);\n\nmemo._meta = {\n  extracted_at: new Date().toISOString(),\n  call_type: callType,\n  version: 'v1'\n};\n\nreturn [{\n  json: {\n    memo,\n    transcript,\n    call_type: callType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        16
      ],
      "id": "da2b9169-c5d2-4348-a6f9-c26d1fdd55f7",
      "name": "Extract Memo"
    },
    {
      "parameters": {
        "jsCode": "const { memo } = $input.first().json;\n\nconst company = memo.company_name || 'our company';\nconst bh = memo.business_hours || {};\nconst days = bh.days || 'Monday to Friday';\nconst start = bh.start || '9:00 AM';\nconst end = bh.end || '5:00 PM';\nconst tz = bh.timezone || 'local time';\nconst routing = memo.emergency_routing_rules || {};\nconst phone = routing.phone_number || '[ON_CALL_NUMBER]';\nconst contact = routing.primary_contact || 'on-call team';\nconst timeout = (memo.call_transfer_rules || {}).timeout_seconds || 60;\nconst pricing = memo.pricing || {};\n\nlet pricingSection = '';\nif (pricing.service_call_fee) {\n  pricingSection = `\n# PRICING (only mention if caller asks)\n- Service call fee: ${pricing.service_call_fee}\n- Hourly rate: ${pricing.hourly_rate}\n- Do NOT mention on every call.`;\n}\n\nconst systemPrompt = `# IDENTITY\nYou are Clara, AI voice assistant for ${company}.\nNever say you are an AI unless asked.\nKeep responses short — this is a phone call.\n\n# BUSINESS HOURS\n${days}, ${start} to ${end} ${tz}\n${pricingSection}\n\n---\n\n# BUSINESS HOURS FLOW\nStep 1 - Greeting: \"Thank you for calling ${company}, this is Clara. How can I help?\"\nStep 2 - Understand purpose: emergency, service request, or inquiry?\nStep 3 - Collect name and phone number. Repeat number back to confirm.\nStep 4 - Transfer to ${contact} at ${phone}. Wait ${timeout} seconds.\nStep 5 - If transfer fails: \"I couldn't reach someone right now. Your info is noted and someone will call you back shortly.\"\nStep 6 - \"Is there anything else?\" → \"Thank you for calling ${company}. Have a great day!\"\n\n---\n\n# AFTER HOURS FLOW\nStep 1 - \"Thank you for calling ${company}. Office is closed. This is Clara, how can I help?\"\nStep 2 - Determine if emergency or non-emergency.\nStep 3a - IF EMERGENCY: collect name, phone, address → transfer to ${phone}\n         If fails: \"Your call is flagged urgent. Someone calls you back very shortly.\"\nStep 3b - IF NOT EMERGENCY: collect details → \"We will follow up next business day.\"\nStep 4 - \"Is there anything else?\" → \"Thank you. Have a good night!\"\n\n---\n\n# RULES\n- Never ask more than 2 questions at once\n- Never mention tools, functions or systems\n- Always repeat phone numbers back to confirm\n- Be warm and calm always`;\n\nconst spec = {\n  agent_name: `Clara - ${company}`,\n  version: memo._meta?.version || 'v1',\n  voice_style: {\n    tone: 'warm, professional, calm',\n    pace: 'natural, not rushed'\n  },\n  system_prompt: systemPrompt,\n  key_variables: {\n    company_name: company,\n    timezone: bh.timezone,\n    business_days: bh.days,\n    emergency_phone: phone,\n    transfer_timeout_seconds: timeout\n  },\n  call_transfer_protocol: {\n    method: 'warm_transfer',\n    timeout_seconds: timeout,\n    announcement: 'Please hold while I connect you.'\n  },\n  fallback_protocol: {\n    trigger: 'Transfer fails',\n    message: \"I'm sorry I couldn't reach someone. Your info is recorded and someone will follow up soon.\"\n  },\n  questions_or_unknowns: memo.questions_or_unknowns || [],\n  _meta: {\n    generated_at: new Date().toISOString(),\n    account_id: memo.account_id\n  }\n};\n\nreturn [{ json: { memo, spec } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        16
      ],
      "id": "8d06d515-0440-42e4-8ac8-013232f21fce",
      "name": "Generate agent spec"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \nJSON.stringify({\n  success: true,\n  account_id: $('Generate agent spec').item.json.memo.account_id,\n  company: $('Generate agent spec').item.json.memo.company_name,\n  issue_number: $json.number,\n  issue_url: $json.html_url,\n  version: $('Generate agent spec').item.json.memo._meta.version\n})\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        16
      ],
      "id": "bd9d0573-9127-4ec7-b0bd-d13ded33cc32",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Memo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Memo": {
      "main": [
        [
          {
            "node": "Generate agent spec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate agent spec": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae0d79ac-7fbf-4519-bcfb-51ed358a04ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7cb32c8f1f7facbc9a0878799cfe28325fa1aeb80c1ca7235df616d2d3d3810"
  },
  "id": "iqlrOB3rikapgbVh",
  "tags": []
}